.FormNarty{
    background-color: var(--body);
    width: calc(91vw - 8px);
    min-height: calc(100vh - 78px);
    margin: 9px auto auto;
    font-size: large;
}

.Confirm{
    background: lightgray;
    border-style: solid;
    margin-left: 400px;
    margin-top: 50px;
    font-size: x-large;
}