
.TableHeader  div {
    border: 1px solid var(--border-color);
    margin: 5px 10px 5px 10px;
    padding: 5px 0px 5px 0px;
    background: var(--nawigacja);
    color: ghostwhite;
    display: flex;
    justify-content: center;
}
.TableRow div {
    border: 1px solid var(--border-color);
    margin: 5px 10px 5px 10px;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
}



